
@import "../node_modules/@syncfusion/ej2-react-kanban/styles/material.css";
@import "../node_modules/@syncfusion/ej2-react-schedule/styles/material.css";
@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-calendars/styles/material.css";
@import "../node_modules/@syncfusion/ej2-dropdowns/styles/material.css";
@import "../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "../node_modules/@syncfusion/ej2-lists/styles/material.css";
@import "../node_modules/@syncfusion/ej2-navigations/styles/material.css";
@import "../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css";
@import '../node_modules/@syncfusion/ej2-icons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-richtexteditor/styles/material.css';
@import '../node_modules/@syncfusion/ej2-layouts/styles/material.css';
@import "../node_modules/@syncfusion/ej2-react-buttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-react-popups/styles/material.css";
@import "../node_modules/@syncfusion/ej2-react-dropdowns/styles/material.css";

/* Center the dialog */
.dialog-center {
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-backdrop-filter: blur(5px); /* Adjust blur level for Safari */
    backdrop-filter: blur(5px); /* Adjust blur level */
  }
  /* Adjust dialog styling */
  .custom-dialog {
    margin: auto;
  }
  
  /* Optional: Remove default box shadow */
  .e-dialog.e-popup {
    box-shadow: none;
  }
  